p {
  color: red;
}
p {
  font-size: 50px;
}

p.important {
  font-size: 20px;
  font-style: italic;
}

#intro {
  font-style: italic;
  color: aqua;
}
#asd {
  color: blue;
}
#name {
  color: royalblue;
}